<!-- Filter Form -->
<div class="card p-3 mb-4">
    <form class="row g-3">
        <!-- Search Field -->
        <div class="col-md-4">
            <input name="search" type="text" class="form-control" placeholder="Search by name or email">
        </div>

        {% if filters.order_by %}
        <div class="col-md-3">
            <select class="form-select" name="search_by">
                {% for order_by in filters.order_by %}
                    <option value="{{ order_by }}">{{ order_by }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="col-md-3">
            <select class="form-select" name="search_type">
                <option value="1">Any</option>
                <option value="2">Start with</option>
                <option value="3">End with</option>
            </select>
        </div>

        {% if filters.order_by %}
            <!-- Order By -->
            <div class="col-md-3">
                <select class="form-select" name="sort_by">
                    <option value="">Sort By</option>
                    {% for order_by in filters.order_by %}
                        <option value="{{ order_by }}">{{ order_by }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select" name="order_by">
                    <option value="DESC">DESC</option>
                    <option value="ASC">ASC</option>
                </select>
            </div>
        {% endif %}

        {% if filters.total_rows %}
            <div class="col-md-2">
                <input type="number" name="limit" class="form-control" placeholder="Limit #" min="10" max="{{ filters.total_rows }}">
            </div>
        {% endif %}

        {% if filters.offset%}
            <!-- Page Number -->
            <div class="col-md-2">
                <input type="number" name="page" class="form-control" placeholder="Page #" min="1" max="{{ filters.offset }}">
            </div>
        {% endif %}

        <!-- Filter Button -->
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary w-100">Apply Filters</button>
        </div>
    </form>
</div>
