{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="db-form-container">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    {% for field in fields %}
                        <th>{{ field.label }}</th>
                    {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% for row in content %}

                    <tr>
                        {% for field in fields %}
                            {% set results = row.get(field.name) %}
                            {% set field = get_content_type_field(field.content_type, field.name) %}
                            {% if results is iterable %}
                                <td>
                                    <ul>
                                        {% for result in results %}
                                            {% if field %}
                                                {% if field.type == 'file' %}
                                                    {% set file = file_uri(result) %}
                                                   <li>
                                                       <a href="{{ file }}">{{ file(result).getName }}</a>
                                                   </li>
                                                {% else %}
                                                    <li>{{  result }}</li>
                                                {% endif %}
                                            {% else %}
                                               {{  result|raw }}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% else %}
                                <td>
                                    {% if field %}
                                        {% if field.type == 'file' %}
                                            {% set file = file_uri(results) %}
                                            <a href="{{ file }}">{{ file(results).getName }}</a>
                                        {% else %}
                                            {{  results|raw }}
                                        {% endif %}
                                    {% else %}
                                        {{  results|raw }}
                                    {% endif %}
                                </td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if is_admin %}
        <div class="row">
            <div class="mysql-query">
                <h5>View query</h5>
                <pre>{{ query|raw }}</pre>
            </div>
            <div class="view-templates">
                <h5>View templates</h5>
                <div>
                    <div class="active-template">
                       <strong>Active template:</strong>
                      <p>{{ template }}</p>
                    </div>
                    <div class="possible-templates">
                        <strong>Possible Overrides</strong>
                        {% for template in possible_templates %}
                             <p>{{ template }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if display.isPaginated() %}
        <div class="pagination-wrapper">

            {% set pagination_data = display.pagination(request.http) %}
            {% include 'default.view.pagination' with pagination_data %}

        </div>
        {% endif %}
    </div>

{% endblock %}