{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="db-form-container">
        <h2>Content Types</h2>
        <a href="/admin/structure/types/new" class="create-btn">+ Create Content Type</a>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {%  for item in items %}
            <tr>
                <td><a href="/admin/structure/content-type/{{ item.machine_name }}/manage">{{ item.name }}</a></td>
                <td>{{ item.description }}</td>
                <td>{{ item.created }}</td>
                <td class="actions">
                    <a href="/admin/structure/content-type/{{ item.machine_name }}/edit" class="btn edit-btn">Edit</a>
                    <a href="/admin/structure/content-type/{{ item.machine_name }}/delete" class="btn delete-btn">Delete</a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
