{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="main-content db-form-container">

        <div class="row">
            <div class="col-md-6">
                <h3 id="📌-database-configuration-instructions">📌 <strong>{{ "Database Configuration Instructions"|t }}</strong>
                </h3>
                <p>{{ "Welcome! Please enter your database details below. These settings are required for the application
                    to
                    connect to your database."|t }}
                </p>
                <hr>
                <h5>{{ "Required database settings"|t }}</h5>
                <ul>
                    <li>{{ "Database name"|t }}</li>
                    <li>{{ "Host"|t }}</li>
                    <li>{{ "Username"|t }}</li>
                    <li>{{ "Password"|t }}</li>
                </ul>
            </div>
            <div class="col-md-6">
               {{ _form|raw }}
            </div>
        </div>
    </div>

{% endblock %}