{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="db-form-container">
        <h2>{{ "Reports"|t }}</h2>
        <div class="tabs">
            <div class="tab active" onclick="showTab('activity-report')">{{ "Site Activity Report"|t }}</div>
            <div class="tab" onclick="showTab('error-report')">{{ "Errors Report"|t }}</div>
            <div class="tab" onclick="showTab('database-report')">{{ "Database Report"|t }}</div>
        </div>

        <div id="activity-report" class="tab-content active">
            <div class="mb-lg-5">
                <form action="">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="">Offset</label>
                            <input class="form-control" type="number" min="0" value="{{ offset }}" max="{{ server_filter.offset_max }}" name="offset">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Limit</label>
                            <input class="form-control" type="number" name="limit" min="2" max="50" value="{{ limit }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Filter">
                    </div>
                    <input type="hidden" name="filter" value="server">
                </form>
            </div>
            <table class="table-stripped">
                <thead class="table-light">
                   <tr>
                       <th>{{ "Start Time"|t }}</th>
                       <th>{{ "End Time"|t }}</th>
                       <th>{{ "Elapsed Time"|t }}</th>
                       <th>{{ "Memory Usage"|t }}</th>
                       <th>{{ "System CPU"|t }}</th>
                       <th>{{ "System USER"|t }}</th>
                   </tr>
                </thead>
                <tbody>
                {% for log in server %}

                    <tr>
                        <td>{{ log.start }}</td>
                        <td>{{ log.end }}</td>
                        <td>{{ log.elapsed }}</td>
                        <td>{{ log.memory }}</td>
                        <td>{{ log.system_usage }} secs</td>
                        <td>{{ log.user_usage }} secs</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="error-report" class="tab-content">
            <table class="table-stripped">
                <thead class="table-light">
                <tr>
                    <th>{{ "Level"|t }}</th>
                    <th>{{ "Severity"|t }}</th>
                    <th>{{ "Message"|t }}</th>
                </tr>
                </thead>
                <tbody>
                {% for log in errors %}

                    <tr>
                        <td>{{ log.LEVEL }}</td>
                        <td>{{ log.SEVERITY }}</td>
                        <td><code>
                                {{ log.MESSAGE }}
                            </code>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="database-report" class="tab-content">
        </div>
    </div>

{% endblock %}
