{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="db-form-container">
        <h2>{{ "Structures"|t }}</h2>

        <div class="config-section">
            <div class="config-item">
                <a href="/admin/structure/types">{{ "Content types"|t }}</a>
                <p>{{ "Create and manage fields, forms, and display settings for your content."|t }}</p>
            </div>
            <div class="config-item">
                <a href="/admin/structure/views">{{ "Views"|t }}</a>
                <p>{{ "Manage customized lists of content."|t }}</p>
            </div>
        </div>

    </div>

{% endblock %}